/* Style the top navigation bar */
.topblock {
    overflow: hidden;
    background-color: black;
    display: block;
    padding: 35px 30px;
}

.topmidblock {
    display: block;
    color: white;
    border: 13px solid white;
    border-radius: 12px;
    width: 100%;
}

button a {
  text-decoration: none;
  text-align: right;
}

.midblock {
    overflow: hidden;
    background-color: black;
    display: block;
    padding: 12px 12px;
    position: center;
}

.logoSmall {
    width: 15%;

}

/* city image placeholder*/
.cityImage {
    background-color: black;
    display: block;
    padding: 65px;
    margin: 25px 115px 25px 115px;
}

<<<<<<< HEAD
div .logo {
    font-size: 150px;
=======
.col {
    display: block;
    background-color: black;
    padding: 65px;
    margin: 10px;
}

@font-face {
    font-family: 'Nouvelle Vague';
    src: url('/font/NouvelleVague-Black.eot');
    src: url('/font/NouvelleVague-Black.eot?#iefix') format('embedded-opentype'),
        url('/font/NouvelleVague-Black.woff2') format('woff2'),
        url('/font/NouvelleVague-Black.woff') format('woff'),
        url('/font/NouvelleVague-Black.ttf') format('truetype'),
        url('/font/NouvelleVague-Black.svg#NouvelleVague-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.front-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px;
>>>>>>> b1361acad22710b6e8cc49b14ac4b8b2910475bc
}

div input {
    width: 70%;
    height: 30px;
}

<<<<<<< HEAD
.col {
    margin: 10px;
    padding: 10px;
}

.bg-black {
    background: black;
}

.hotellink-p a:link, .hotellink-p a:visited {
    color:white;
}
=======

/* Modal CSS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
>>>>>>> b1361acad22710b6e8cc49b14ac4b8b2910475bc
