/* FRONT PAGE CSS*/
/* #front-logo {
    width: 600px;
} */

/* Style the top navigation bar */
.topblock {
    overflow: hidden;
    background-color: black;
    display: block;
    padding: 35px 30px;
}

.topmidblock {
    display: block;
    color: white;
    border: 13px solid white;
    border-radius: 12px;
    width: 100%;
}

button a {
  text-decoration: none;
  text-align: right;
}

#logoSmall{
    width: 60%;
}

#magnifySmall {
    width: 25%;
    float: right;
}

/* city image placeholder*/
.cityImage {
    background-color: black;
    display: block;
    padding: 20px;
    margin: 10px 180px;
}

#hotelTitle, #restaurantTitle, #weatherTitle {
    color: black;
}

#cityImage {
    max-width: 100%;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.heading {
    margin: 13px 0 0 0;
    padding: 5px;
}

div .logo {
    font-size: 150px;
}

.col {
    margin: 10px;
    padding: 10px;
}

/* Row */
.row {
    color: white;
}

.cityName {
    font: 'Nouvelle Vague';
    color: black;
}

.front-page-container {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.col {
    margin: 10px;
    padding: 10px;
}

.bg-black {
    background: black;
}

.hotellink-p a:link, .hotellink-p a:visited {
    color:white;
}

/* Modal CSS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* MODAL ELEMENTS */
#modal-btn {
    width: 80px;
    height: 80px;
}

#logoModal {
    display: block;
    margin: 60px auto 0px auto;
    width: 50%;
}

.topsearch input[type=text] {
    padding: 6px;
    border: black;
    font-size: 17px;
    margin: 10px auto 0px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#submit {
    margin: 50px auto 50px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 30px;
}

@media only screen and (min-width: 300px) {
    #front-logo {
        width: 250px;
    }

    .front-page-container {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
    }

    div form {
        padding-top: 120px;
        position: absolute;
    }  

    div input {
        height: 30px;
        width: 180px
    };


    form button {
        align-content: center;
    }
}

@media only screen and (min-width: 370px) {
    #front-logo {
        width: 300px;
        position: absolute;
    }

    div input {
        height: 30px;
        width: 180px;
        margin-top: 15px;
    };


    div button {
        align-content: center;
        margin-top: 5px;
    }

    div form {
        padding-top: 105px;
        position: relative;
    }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {

    #front-logo {
        width: 550px;
        position: absolute;
    }

    div form {
        padding-top: 170px;
        position: relative;
    }  
    div input {
        height: 30px;
        width: 200px;
    };

    div button {
        align-content: center;
        margin-top: 10px;
    };

}

@media only screen and (min-width: 1000px) {
    #front-logo {
        width: 600px;
        position: absolute;
    }

    div input {
        height: 30px;
        width: 350px;
    };

    div form {
        padding-top: 0px;
        position: relative;
    }  

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #front-logo {
        width: 600px;
    }

    div input {
        height: 30px;
        width: 250px
    };


    div form {
        padding-top: 200px;;
        position: absolute;
    }  

}
