*{
    padding: 0;
    margin: 0;
}

/* @font-face {
    font-family:"nouvelle";
    src: url(./nouvelle.ttf);
}

body{
    font-family;
} */

div .logo {
    font-size: 150px;
}

div input {
    width: 70%;
    height: 30px;
}

.col {
    margin: 10px;
    padding: 10px;
}

.bg-black {
    background: black;
}

.hotellink-p a:link, .hotellink-p a:visited {
    color:white;
}