*{
    padding: 0;
    margin: 0;
}

/* @font-face {
    font-family:"nouvelle";
    src: url(./nouvelle.ttf);
}

body{
    font-family;
} */

.row{
    border: 2px solid blue;
    background-color: black;
}

col{
    border: 2px solid yellow;
    background-color: yellow;
}
.front-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px;
}


div .logo {
    font-size: 150px;
}

div input {
    width: 70%;
    height: 30px;
}